
 
 
 
 
 .thumbnail {
    width: 100%;
    /* I used grid-template-columns: 1fr 1fr 1fr; in the .video grid class after making that class a flexbox. So the width of thumbnail be accordingly */
 }
 

 
 .video-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    
 }
 
 
 
 .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
 }
 
 .profile-picture {
    width: 36px;
    
    border-radius: 50px;
 }
 
 
 .video-author {
    font-weight: 400;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
 }
 .video-stats {
    font-weight: 400;
    font-size: 12px;
    color: rgb(96, 96, 96);
 }
 
 
 
 .thumbnail-row {
    margin-bottom: 8px;
    position: relative;
 }
 
 .video-time {
   position: absolute;
   bottom: 10px;
   right: 5px;
   background-color: black;
   color: white;
   font-size: 12px;
   font-weight: 500;
   padding:4px;
   border-radius: 2px;
 }
 .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
 }


 /* making webpage responsive using media queries */
  @media (max-width: 450px) {
   .video-grid {
      grid-template-columns: 1fr ;
   }
 }
 @media (min-width: 451px) and (max-width: 750px) {
   .video-grid {
      grid-template-columns: 1fr 1fr;
   }
 }


 @media (min-width: 751px) and (max-width: 999px) {
   .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
   }
 }



 @media (min-width: 1000px) {
   .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   
 }
